/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
* {
  margin: 0%;
  padding: 0%;
}
/* body section starts */
body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #ffffff;
}
body a {
  text-decoration: none;
  cursor: grab;
}
.top-sec{
    width: 100%;
    background: white;
}
.t-nav{
    padding: 42px 124px 59px;
    display: flex;
    justify-content: space-between;
    background-color: red;
    
}
.t-nav .navbar a{
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
    margin-right: 36px;
}
.t-nav .navbar a:hover{
    text-decoration: underline;
}
.t-nav .login-section a{
    color: #ffffff;
    padding: 10px 24px;
    background-color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
.t-nav .login-section i{
    color: #ffffff;
    margin-right: 8px;
}

/* mainpartstarts */
/* bannerworkstartshere */
/* section1startshere */
.p-p img {
  width: 550px;
}
.description {
  font-size: 40px;
}
.description a {
  font-size: 20px;
  background-image: linear-gradient(red, black);
  color: white;
  border-radius: 10px;
  padding: 10px 10px;
}
.c-a {
  display: flex;
  flex-direction: column;
  padding-left: 7%;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: sticky;
}
.background-image {
  background-image: url(https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.c-container {
  width: 100%;
  margin-bottom: 2%;
}
.c-container:hover .c-a {
  transform: scale(0.9);
  opacity: 0.5;
  transition: transform 1.2s ease-in-out;
}

/* section1endshere */

/* section2startshere */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-container {
  margin-bottom: 3%;
}
.photo-album {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.p-container .title {
  font-size: 40px;
  text-align: center;
  padding-bottom: 2%;
}
.title:hover {
  background-color: grey;
  color: white;
}
.p-container:hover .title {
  transform: scale(0.85);
  transition: transform 2s ease-out;
}

.photo-frame {
  width: 330px;
  height: 474px;
  border: 1px solid;
  box-shadow: 1px 1px 10px grey;
  overflow: hidden;
}
.photo-frame .ph:hover {
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}
.ph img {
  width: 100%;
}
.photo-description p,
h1 {
  padding-left: 2%;
  user-select: none;
}
/* section2endshere */

/* section3startshere */
.c-ac {
  background-image: url(https://thumbs.gfycat.com/ExcellentPoliteAmphiuma-size_restricted.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 427px;
  margin-bottom: 3%;
}
.c-ac:hover .c-w {
  transform: scale(0.98);
  transition: transform 2s ease-in-out;
}
.c-w {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: flex;
  align-items: center;
}
.w-i img {
  width: 450px;
}
.w-i{
  display: flex;
  flex-direction: column;
  width: 466px;
  /*height: 309px; */
}
.w-i h1 {
  font-size: 60px;
  width: 485px;
  height: 230px;
  color: black;
}
.w-i a {
  color: #ffffff;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: black;
  margin: 3px 170px;
  border-radius: 20px;
  cursor: grab;
}
.w-i p {
  position: relative;
  top: 5%;
  background-color: red;
  color: #ffffff;
  user-select: none;
}
medias section
/*--------------*/
.video-section{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.video-section video{
    width: 100%;
}
.video-details{
    margin-top: 0;
    background-color: #ffffff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.video-details span{
    color: #E02C6D;;
}
.con{
    width: 70%;
}

/* section3endshere */
/* section4startshere */
.logo-description {
    width: 700px;
    position: relative;
  }
  .logo img {
    width: 100%;
  }
  .definition {
    display: none;
    position: absolute;
    top: 0%;
    font-size: 40px;
    background-color: rgba(158, 135, 222, 0.4);
  }
  .logo-description:hover .definition {
    display: block;
    cursor: pointer;
  }
/*section5endshere */
/* footerstartsfromhere */
.f-c{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 468px 63px 468px;
}
.footer-image img{
    width: 100%;
}
.social-icon{
    padding: 20px 156px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 14px;
}
.social-icon i{
    font-size: 32px;
}
.copyright-text p{
    margin-top: 0;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}
.copyright-text:hover {
  background-color: grey;
}
.o{
    color: blue;
}
.social-icon:hover{
    transform: scale(2);
    transition: transform 5s ease-in-out;
}
/* footerendshere */

/* mediaqueries */

/* mobile devices */
@media only screen and (max-width: 688px) {
  .copa-container {
    width: 100%;
  }

  .c-a {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    display: flex;
    justify-content: center;
  }
  .c-a img {
    width: 150px;
  }
  .c-a h1 {
    font-size: 15px;
  }
  .c-a a {
    font-size: 15px;
    background-color: rgb(121, 113, 114);
    color: white;
  }
  .photo-album {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .photo-container .title {
    font-size: 20px;
    text-align: center;
    padding-bottom: 2%;
  }
  .c-ac {
    display: none;
  }
  .logo-description {
    width: 50%;
    position: relative;
    left: 100px;
  }
}
/* tablet devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {
  .copa-container {
    width: 100%;
  }

  .c-a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .c-a img {
    width: 150px;
  }
  .c-a h1 {
    font-size: 15px;
  }
  .c-a {
    font-size: 15px;
    background-color: rgb(121, 113, 114);
    color: white;
  }
  .photo-album {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .photo-container .title {
    font-size: 20px;
    text-align: center;
    padding-bottom: 2%;
  }
  .c-ac {
    background-image: url(https://media.giphy.com/media/3o6vXTpomeZEyxufGU/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin-bottom: 3%;
  }
  .c-ac:hover .c-w{
    transform: scale(0.98);
    transition: transform 2s ease-in-out;
  }
  .c-w{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    align-items: center;
  }
  .winner-picture img {
    width: 400px;
    height: 100px;
  }
  .w-i {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    /*height: 309px; */
  }
  .w-i h1 {
    font-size: 20px;
    width: 30px;
    color: black;
  }
  .logo img {
    width: 40%;
    position: relative;
    left: 200px;
  }
}